.task-container {
  display: grid;
  grid-template-columns: minmax(auto, 1200px);
  justify-content: center;
}

.task {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
  grid-gap: 0 10px;
  margin: 10px 0;
  text-align: center;
  justify-content: center;
}

.task-card {
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}

.task-card-header {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.task-card-header h4 {
  margin: 10px 0;
  font-size: 20px;
}

.task-card-body p:first-of-type {
  font-size: 20px;

}

.task-card-footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top: 1px solid rgba(0,0,0,.125);
}

.task-card-footer button {
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  cursor: pointer;
  background-color: #DC3545;
  color: #fff;
}